# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development
.env.test
.env.production

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

secrets/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# API
apps/api/prisma/migrations/


# Mobile
.expo/
android/
ios/
eas.json

# Dashboard

# Web
.nuxt/


# Fastlane
fastlane/report.xml
fastlane/report.xml.zip
fastlane/build
