<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuuH1_9kiptRdYGy0RqT2GQzsirTW4Lgg</string>
	<key>GCM_SENDER_ID</key>
	<string>1020750003823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phuongbao90.gymapp</string>
	<key>PROJECT_ID</key>
	<string>gymapp-8d047</string>
	<key>STORAGE_BUCKET</key>
	<string>gymapp-8d047.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020750003823:ios:0ca5911db057b95f6c979a</string>
</dict>
</plist>